<div [ngClass]="{'invisible-career': !vacancy.isShown}">
  <div class="row vacancy">
    <div class="col-md-9 order-last order-sm-first mt-2 mt-sm-0">
      <p class="subtext">{{vacancy?.name}}</p>
    </div>
    <div *ngIf="vacancy.isHotStatus" class="col-md-3 order-first order-sm-last text-left text-sm-right">
      <img src="assets/img/system_icons/hot-vacancy.svg">
    </div>
  </div>
  <div class="location">
    <span *ngFor="let location of vacancy?.locations;">
      {{location.city}}, {{location.country}}
    </span>
  </div>
  <p class="about" [innerHTML]="vacancy?.aboutTheProject | noSanitize"></p>
  <div class="border-bottom">
    <a [href]="'https://jetsoftpro.com/careers/vacancy/' + vacancy?.id" target="_blank">READ MORE</a>
  </div>
</div>
