.vacancy {
    margin-top: 30px;
    .subtext {
        font-size: 16px;
        font-weight: bold;
        color: #3f3f3f;
        margin-bottom: 0;
    }
}

div, p{
   overflow-wrap: break-word;
}

.about{
    overflow: hidden;
    margin-bottom: 0;
}

span,
p {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    color: #3f3f3f;
    margin-bottom: 15px;
}

.location{
    span:nth-child(2n),
    span:nth-child(3n){
        &::before{
            content: '/';
            margin-right: 5px;
            font-weight: 700;
            margin-left: 5px;
        }
    }
}

a {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: #f57c00;
    margin-bottom: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.invisible-career {
    p,
    div,
    span,
    .subtext {
        color: #b5b5b5;
    }
}

.edit-bar {
    padding-top: 5px;
    img {
        height: 22px;
        width: 75px;
        cursor: pointer;
        font-size: 24px;
        color: rgba(0, 0, 0, 0.54);
        padding-left: auto;
        padding-right: 30px;
        width: auto;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li {
        float: left;
        a {
            display: block;
            text-align: center;
            text-decoration: none;
            border-bottom: none;
        }
    }
}

.border-bottob {
    border-bottom: solid 1px rgba(181, 181, 181, .5);
}
