<div class="container">
  <div class="filter-parent">
    <div class="row filter py-4">
      <div class="title-careers col-12 text-center navbar-toggler" data-toggle="collapse" (click)="windowWidth()"
           aria-expanded="false">
        <p>FILTER BY</p>
      </div>
      <div class="form collapse col-12 navbar-collapse" uib-collapse="false" [collapse]="isCollapsed">
        <div class="row filter-select justify-content-center">
          <div class="col-lg-4 col-md-4 col-sm-12 col-11 select-offer">
            <input type="text" class="search" placeholder="Search by Keywords"
                   [(ngModel)]="keyWords" (input)="update(filterType.KeyWords)">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-11 select-offer">
            <ng-select [multiple]="true" [items]="jobAreas" class="custom" [searchable]="false"
                       [closeOnSelect]="false" [clearable]="false" (change)="update(filterType.JobAreas)"
                       [(ngModel)]="selectedJobAreas" [markFirst]="false" placeholder="All Job Areas">
              <ng-template ng-option-tmp let-item="item">
                <i class="fa fa-check fa-fw"></i>{{item.name}}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-11 select-offer">
            <ng-select [multiple]="true" [items]="locations" class="custom" [searchable]="false"
                       [closeOnSelect]="false" [clearable]="false" (change)="update(filterType.Locations)"
                       [(ngModel)]="selectedLocations" [markFirst]="false" placeholder="All Locations">
              <ng-template ng-option-tmp let-item="item">
                <i class="fa fa-check fa-fw"></i>{{item.city}}, {{item.country}}
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dark-text">
    <p class="text-center">VACANCIES</p>
  </div>

  <div>
    <div class="user-filters" *ngIf="userFilter.length">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-9 col-sm-11 col-12">
                <span *ngFor="let filter of userFilter" class="user-filter">{{filter.name}}
                  <span class="user-filter-delete" (click)="clear(filter)" aria-hidden="true">
                        <img src="assets/img/system_icons/close.svg">
                    </span>
                </span>
        </div>
      </div>
    </div>
  </div>

  <div class="vacancies">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-8 col-sm-10 col-12">
        <div>
          <div *ngFor="let career of careers;">
            <jsp-vacancy-item [ngClass]="career.myClass" [vacancy]="career"></jsp-vacancy-item>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!careers.length" class="not-found row justify-content-center">
    <div class="mt-3 mb-5 col-lg-7 col-md-8 col-sm-10 col-12">
      <div class="text-center">
        <p>At present there are no vacancies that match your search criteria.</p>
        <p>However, we are always keen to meet talented professionals who would like to join our team. If you wish to be
          considered for any future positions, please send your CV and covering letter to: <a
            class="not-found-mail" href="mailto:staffing@jetsoftpro.com">recruiters@jetsoftpro.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
