.vacancies {
  padding: 0 0 50px;
  .vacancy-hidden {
    display: none;
  }
}

.dark-text,
.title-careers {
  font-size: 1.1rem;
}

a:not(.not-found-mail) {
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  color: #3f3f3f;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Lato';
  margin-bottom: 40px;
  background-color: #ffffff;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #f57c00;
}

.select-offer:nth-child(1) {
  height: 36px;
}

a:not(.not-found-mail):focus {
  outline: none;
}

a:not(.not-found-mail):hover {
  box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.select-offer {
  display: inline;
  ng-select {
    width: 100%;
  }
}

input {
  outline: none;
  line-height: 13px;
  border: 1px solid #ccc;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-right: 8px;
  color: #333;
  border: solid 1px rgba(151, 151, 151, 0.2);
  &.search {
    padding: 8px 14px 7px 14px;
  }
}

input::placeholder {
  font-size: 16px;
  font-weight: 300;
  color: #6b6b6b;
  opacity: .8;
  padding-top: 3px;
}

.select-offer {
  padding: 0 4px;
  ::ng-deep .ng-select {
    margin: 0;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin-right: 8px;
    border-radius: 3px;
    display: inline-block;
    .ng-placeholder {
      font-size: 16px;
      font-weight: 300;
      color: #6b6b6b;
    }
    &.custom {
      min-height: 0px;
      background-color: #ffffff;
      .ng-select-container {
        min-height: 36px;
        background-color: #ffffff;
        border: solid 1px rgba(151, 151, 151, 0.2);
        &.ng-has-value {
          .ng-placeholder {
            display: block;
          }
        }
        .ng-value {
          display: none;
        }
      }
      .ng-dropdown-panel {
        z-index: 2;
        border-radius: 2px;
        background-color: #ffffff;
        border-top: solid 1px rgba(0, 0, 0, 0.2);
        left: 0;
        .scroll-host {
          .ng-option {
            padding: 5px 10px;
            font-size: 12px;
            font-weight: normal;
            color: #6b6b6b;
            font-family: Lato;
            text-align: left;
            i {
              width: 14px;
              height: 13px;
              border-radius: 2px;
              background-color: #ffffff;
              color: #ffffff;
              border: solid 1px #b5b5b5;
              margin-right: 10px;
            }
            &:hover {
              color: #0097a7;
              background-color: #ffffff;
            }
            &:focus,
            &:active,
            &.ng-option-selected {
              color: #0097a7;
              background-color: #ffffff;
              i {
                background-color: #0097a7;
                border: solid 1px #0097a7;
              }
            }
          }
        }
      }
    }
  }
}

.user-filters {
  margin-top: 20px;
  .user-filter {
    padding: 3px 0px 3px 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-right: 10px;
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
    color: #0097a7;
    .user-filter-delete {
      color: rgba(151, 151, 151, 0.2);
      cursor: pointer;
      img {
        width: 10px;
        vertical-align: text-top;
        opacity: .25;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .filter-parent {
    .filter {
      .form {
        ::ng-deep .filter-select {
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .form {
    margin-top: 20px;
    text-align: center;
  }
  .filter {
    .title-careers {
      p {
        background-image: url("/assets/img/system_icons/arrow_down.svg");
        background-repeat: no-repeat;
        background-position-x: 70%;
        margin-bottom: 0;
      }
      p:focus {
        background-image: url("/assets/img/system_icons/attach_file_dark.svg");
        background-repeat: no-repeat;
        background-position-x: 70%;
        margin-bottom: 0;
      }
    }
    .select {
      margin: 0 auto;
      margin-bottom: 10px;
      width: 90%;
      padding-right: 0px;
    }
    .select-offer {
      padding: 0 4px;
      margin: 5px 0;
      ::ng-deep .ng-select {
        &.custom {
          .ng-dropdown-panel {
            .scroll-host {
              .ng-option {
                font-size: 14px;
                i {
                  width: 15px;
                  height: 15px;
                }
              }
            }
          }
        }
      }
    }
    .select-offer:last-child {
      margin-bottom: 15px;
    }
  }
  .form-border {
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    ::ng-deep .title-careers {
      padding: 7px 0;
      display: block;
      margin: 0 auto;
      text-align: center;
      p {
        padding-top: 0;
      }
    }
  }
}

.hidden {
  display: none;
}

.not-found {
  color: #6b6b6b;
  font-size: 1rem;
  a {
    color: #f57c00;
  }
}
