/* Global styles */

@import "~@ng-select/ng-select/themes/default.theme.css";
@font-face {
  font-family: Lato;
  src: url(assets/styles/Lato.ttf);
}

body {
  background: #ffff;
  main {
    max-width: 2000px;
    margin: 0 auto;
    background: #fff;
  }
}

html,
body {
  font-family: 'Lato', sans-serif;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  h2 {
    font-size: 1.125rem;
    text-align: center;
    padding: 0;
    margin: 0;
    &.white-text {
      font-weight: bold;
      color: #f4f4f4;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
    &.dark-text {
      font-weight: normal;
      color: #3f3f3f;
    }
  }
  h4 {
    font-size: .875rem;
    font-weight: 300;
    text-align: center;
    color: #3f3f3f;
    padding: 0;
    margin: 0;
  }
}

.animate {
  transition: all 1s;
  -moz-transition: all 1s;
  /* Firefox 4 */
  -webkit-transition: all 1s;
  /* Safari and Chrome */
  -o-transition: all 1s;
  /* Opera */
  transition-property: all;
  /* MS */
  transition-duration: 1s;
  /* MS */
}

@media (min-width: 992px) {
  html,
  body,
  main {
    h2 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.125rem;
    }
  }
}

.modal-dialog {
  max-height: 90vh;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
    &-track {
      background: #f1f1f1;
    }
    &-thumb {
      background: #b5b5b5;
      &:hover {
        background: #888;
      }
    }
  }
}
