$navbar-background-color: rgba(37, 37, 37, 1);

//colors
$suber-text-color: #252525;
$base-text-color: #3f3f3f;
$header-text-color: #6b6b6b;
$social-background-color: #8f898a;
$shadow-color: #b5b5b5;
$focus-background-color: #f4f4f4;
$color-white: #ffffff;
$color-info:#0097a7;
$warning-color: #FA000F;
$brand-color: #f57c00;